.navbar-container {
  background: linear-gradient(135deg, #141e30, #243b55);
  padding: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn { 
    color: #f39c12; // Set button text color
    font-size: 1.5rem;
  }

  .menu {
    display: flex;
    gap: 1.5rem;

    li {
      list-style: none;

      a {
        color: white; // Set link color
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: #f39c12; // Change color on hover
        }
      }
    }
  }

  .search-icon {
    cursor: pointer;
    color: white; // Set icon color
    margin-left: auto; // Push the icon to the right
    transition: color 0.3s;

    &:hover {
      color: #f39c12; // Change color on hover
    }
  }
}
