.search-container {
    padding: 20px;
    background: linear-gradient(135deg, #141e30, #243b55);
    color: #ffffff;
    min-height: 100vh;
  
    .search-form {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  
      input {
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        color: #000;
        background-color: #fff;
      }
  
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
        transition: color 0.3s;
  
        &:hover {
          color: #ff4081;
        }
      }
    }
  
    // Loading animation styles
    .loading {
      text-align: center;
      font-size: 18px;
      color: #ff4081; // You can change the color of the loading text
      margin: 20px 0;
    }
  
    .results-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  
      .result-card {
        margin: 10px;
        width: 150px;
        text-align: center;
        position: relative;
  
        img {
          width: 100%;
          border-radius: 8px;
        }
  
        .result-info {
          margin-top: 5px;
  
          h3 {
            font-size: 16px;
            font-weight: bold;
          }
  
          p {
            font-size: 14px;
            color: #ccc;
          }
        }
      }
    }
  }
  